<app-navbar [title]="'Bienvenida'" />

<ion-content class="ion-padding">
  <div class="welcome-container">
    <ion-img src="assets/images/hotel-bienvenida.png" alt="Bienvenido"></ion-img>
    <h1>¡Bienvenido a nuestra aplicación de hotel!</h1>
    <p>Disfruta de una experiencia única con nosotros. Haz tu reserva, explora nuestros servicios y vive momentos inolvidables.</p>
    <ion-button expand="block" fill="outline" routerLink="/dashboard">Ir a la aplicación</ion-button>
  </div>
</ion-content>
