<!-- room-list.component.html -->
<app-navbar title="Habitaciones" />

<app-room-filter (filterChange)="onFilterChange($event)" />

<ion-content class="ion-padding">
  <ion-button
    *hasRole="'Admin'"
    size="small"
    routerLink="/dashboard/room/create"
    color="dark"
    shape="round"
    class="button__create__room"
  >
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    Crear habitación
  </ion-button>
  <ion-list>
    @if(filteredRooms){ @for(room of filteredRooms; track room.id){
    <ion-item>
      <app-room-card [room]="room" [routerLink]="'/dashboard/room/'+room.id" />
    </ion-item>
    } @empty{
    <ion-item>
      <ion-text color="dark" class="ion-text-center">
        <h1>No existen habitaciones creadas</h1>
      </ion-text>
    </ion-item>
    } }
  </ion-list>
</ion-content>
